.discover {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  background-color: $bg-lightbrown;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    padding: 0 1em;
    margin: 0 auto;
  }

  &-book {
    width: 50%;
    max-width: 615px;
    > img {
      width: 100%;
    }
  }

  &-desc {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2em 0;
    width: 50%;
    .heading {
      color: $green-color;
      line-height: 150%;
      font-weight: 600;
    }

    .text {
      font-family: PoppinsSemiBold;
      font-size: 1.5em;
      font-weight: 400;
      line-height: 150%;
    }

    .button {
      padding: 16px 25px;
    }
  }
}
