@font-face {
  font-family: 'PoppinsRegular';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype'); /* Update with your font file path and format */
  /* Additional font properties like font-weight and font-style can be defined here */
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype'); /* Update with your font file path and format */
  /* Additional font properties like font-weight and font-style can be defined here */
}

@font-face {
  font-family: 'AbrilFatfaceRegular';
  src: url('../fonts/AbrilFatface-Regular.ttf') format('truetype'); /* Update with your font file path and format */
  /* Additional font properties like font-weight and font-style can be defined here */
}