.guide {
  margin: 4em 0;
  padding: 0 1em;
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em 0;
  }
  .block-one,
  .block-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 2em;

    @media (max-width: 785px) {
      flex-direction: column;
      gap: 2em 0;
    }
  }

  .block-two {
    .inner {
      order: 1;
      @media (max-width: 785px) {
        order: 3;
      }
    }
    > img {
      order: 2;
    }
  }

  .inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.5em 0;
  }

  img {
    width: 100%;
    max-width: 545px;
    height: 357px;
    border-radius: 50px;
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      lightgray -0.5px -5.436px / 100.912% 103.252% no-repeat;
    @media (max-width: 785px) {
      max-width: 100%;
      border-radius: 25px;
    }
  }

  .title {
    font-family: PoppinsSemiBold;
    font-size: 2.375em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media (max-width: 785px) {
      font-size: 2em;
      width: 100%;
      text-align: center;
    }
  }

  .text {
    font-family: PoppinsRegular;
    font-weight: 400;
    line-height: 200%;
    font-size: 1.5em;
    @media (max-width: 785px) {
      width: 100%;
      text-align: center;
    }
  }
}
