.places {
  margin: 4em 0;
  padding: 0 1em;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0 2em;

    @media (max-width: 785px) {
      flex-direction: column;
      gap: 2em 0;
    }
  }
  &-desc {
    position: relative;
    width: 80%;

    @media (max-width: 785px) {
      width: 100%;
    }

    .heading {
      margin-bottom: 1em;
      @media (max-width: 785px) {
        margin-bottom: 0.5em;
        font-size: 2.5em;
      }
    }
    .text {
      font-family: PoppinsRegular;
      text-align: justify;
      font-size: 1.5em;
      font-weight: 400;
      line-height: 150%;
      @media (max-width: 785px) {
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }
    }

    .custom-prev-arrow,
    .custom-next-arrow {
      position: absolute;
      bottom: -70px;
      right: 52px;
      width: 50px;
      height: 50px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 14px;

      @media (max-width: 785px) {
        display: none;
      }

      > svg {
        width: 24px;
        height: 24px;
      }
    }

    .custom-next-arrow {
      right: 0;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
      margin: 0 auto;
    }
  }

  .swiper-slide {
    width: 217px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-item {
    > img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 217px;
      height: 353px;
      border-radius: 50px;
      object-fit: cover;
    }

    .text {
      position: absolute;
      width: 100%;
      height: 70px;
      text-align: center;
      padding-top: 1em;
      bottom: 0;
      left: 0;
      right: 0;
      color: $secondary-color;
      font-family: PoppinsSemiBold;
      font-size: 1.5em;
      font-weight: 700;
      line-height: 150%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) -4.59%, rgba(0, 0, 0, 0.9) 17.58%);
      border-radius: 0 0 40px 40px;
    }
  }
}
