.sales {
  width: 100%;
  height: 445px;
  position: relative;
  &::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/src/assets/sales.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  &-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em 0;

    .heading {
      width: 100%;
      max-width: 721px;
      @media (max-width: 785px) {
       font-size: 2em;
      }
    }

    .button {
      width: 100%;
      max-width: 235px;
      height: 53px;
    }
  }
}
