.upcoming {
  margin: 6.25em 0;
  padding-top: 6.25em;

  .heading {
    margin-bottom: 1em;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 1.5em;
  }
}
