$primary-color: #177ba5;
$secondary-color: #fff;
$bg-color: #f6f6f6;
$accent-color: #292d32;
$lightGreen-color: #d6edeb;
$green-color: #2d8985;
$pink-color: #f178b6;
$lightPink-color: #fcddec;
$gray-color: #7F7F7F;
$bg-lightbrown: #F4F2EE;